

form {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: space-between;
    text-align: start;
}

form div {
    display: flex;
    margin: 0.6rem;
    justify-content: space-between;
    
}

input, select {
    height: 1.6rem;
    outline: none;
    min-width: 50%;
    font-size: 0.7rem;
    padding-left: 0.7rem;
}

label {
    width: 45%;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 1.7rem;
    border: none;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 14px;
    font-size: 0.8rem;
    border-radius: 3px;
    margin-top: 1rem;
}

img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.Error-msg {
    font-size: 0.8rem;
    color: red;
}

@media screen and (max-width: 376px) {
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    form div {
        display: flex;
        flex-direction: column;
        margin: 0.6rem;
        justify-content: space-between;
        
    }

    label {
        width: 90%;
    }
    button {
        margin-left: 0.6rem;
    }
}

